# System Files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Locks
yarn.lock
package-lock.json

# config.json contains sensitive information, so we ignore it, only store a
# sample for reference
config.json
